# Compilation
build/
# 3D object datasets
datasets/3dnet
datasets/dexnet
datasets/kit
datasets/ShapeNetSem
datasets/ycb
# Grasp candidates files
config/
# Exclude important configs
!grasp/config
# Documentation
doc/