# Compilation
build/
# URDF generation test models
models/scripts/*.urdf
# 3D object datasets
datasets/3dnet
datasets/dexnet
datasets/kit
datasets/ShapeNetSem
datasets/ycb
# Grasp candidates files
grasp/config
# Documentation
doc/